body{
  width: auto;
}
.header {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
}
.first-title {
  font-weight: bold;
  font-size: 28px;
  line-height: 150%;
  color: #8a6ef8;
  text-align: center;
}
.type-text {
  font-size: 15px;
  color: #282828;
  text-align: center;
  padding-right: 0;
}
.Registration {
  position: absolute;
  margin: 0 auto;
  bottom: 0;
  right: 0;
  left: 0;
  width: 200px;
  height: 40px;
}
.Registration:hover {
  background-color: #6f4cf8;
  transform: scale(1.1, 1.1);
  border-radius: 20px;
}
.Registration-text {
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
}
.image-header {
  width: 265px;
  height: 265px;
  margin-top: 30px;
}
.first-nav {
  width: 500px;
  height: 60px;
  border-radius: 10px;
  border: 2px dashed rgba(0, 0, 0, 0.13);
  box-sizing: border-box;
  position: initial;
  top: 0;
  background: #ffffff;
  transition: all 0.3s ease-in;
  margin: 30px 0;
}
.first-nav:hover {
  box-shadow: 0px 5px 20px 1px rgba(128, 128, 128, 0.527);
  transform: scale(0.9, 0.9);
  filter: saturate(150%);
}
.navigation {
  display: inline-block;
  position: relative;
}
.store-box:hover {
  transform: none;
  filter: drop-shadow(0px 0px 30px #6208fda9);
}
.navbar {
  margin: 0;
}
.nav-title {
  padding: 10px 30px;
  font-size: 20px;
}
.navbar {
  margin-left: 240px;
}
.nav-text {
  font-size: 14px;
  margin: 0px 20px;
  margin-left: 0;
  padding-right: 10px;
  padding-bottom: 0;
  width: auto;
}
.aside {
  position: absolute;
  margin: 0 auto;
  bottom: 0;
  left: 90%;
  position: sticky;

}
.store-box {
  margin-right: 0;
  margin-top: 0px;
  margin-bottom: 70px;
  width: 480px;
  height: 100px;
  border-radius: 0px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  
}
.title-box {
  display: none;
}
.Registration-box {
  width: 80px;
  margin-right: 0;
}
.Registration-text-box {
  font-weight: 500;
  font-size: 8px;
  color: #ffffff;
  text-align: center;
  margin: auto;
  word-spacing: 2px;
}
.Registration-box:hover {
  transform: scale(1, 1);
  filter: drop-shadow(0px 0px 20px #6208fd65);
}
.second-text-box,
.first-text-box p {
  font-size: 10px;
  padding: 0 20px;
  padding-right: 10px;

}
.money-jashn {
  padding-right: 27px;
}
.hazine-asli {
  padding-right: 16px;
}
.title-main {
  text-align: center;
  font-size: 18px;
  margin-bottom: 50px;
  margin-right: 0;
  margin-left: 0;
}
.main {
  width: auto;
  margin: 20px;
  padding-right: 20px;
  padding-top: 0;
  margin-right: 10px;
}
.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 10px;
  padding: 30px 30px;
  margin: 0 auto;
}
.img-card {
  width: 30px;
  height: 30px;
  padding: 10px;
}
.title-card {
  font-weight: bold;
  font-size: 12px;
  padding-right: 15px;
}
.text-card {
  font-weight: lighter;
  font-size: 8px;
  line-height: 17px;
}
.title-barname {
  font-size: 18px;
}
.plans {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
.first-plan {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease-in;
  padding: 0px;
}
.first-text-plan {
  font-size: 6px;
}
.first-img-plan {
  width: 30px;
  height: 30px;
  padding-bottom: 20px;
}
.title-sarfasl {
  padding: 30px 20px 30px 0;
}
.logo-sarfasl {
  width: 30px;
  height: 30px;
}
.text-sarfasl {
  font-size: 20px;
}
.part {
  width: auto;
  margin: 10px 20px 15px 20px;
  border-radius: 18px;
}
.part p {
  font-size: 18px;
  margin-top: 8px;
}
.part1 {
  width: auto;
  margin: 10px 20px 15px 20px;
  border-radius: 18px;
}
.part1 summary {
  font-size: 18px;
}
.part1 ul {
  width: auto;
}
.part1 ul li {
  margin-right: 25px;
}
.Frage-milad {
  font-size: 26px;
}
.all-milad {
  flex-direction: column;
}
.tozihat {
  margin-right: 5px;
  margin-top: 40px;
}
.milad-khatchin1 {
display: none;
}
.milad-khatchin2 {
  display: none;
}
.real-team-milad img {
  width: 160px;
  height: 160px;
}
.team-milad {
  margin-top: 80px;
}
.title-team {
  text-align: center;
}
.mentor h4 {
  font-size: 14px;
}
.mentor h2 {
  font-size: 16px;
}
.flash-left,
.flash-right {
  display: none;
}
.last-image {
  display: none;
}
.footer {
  display: flex;
  flex-direction: column;
  width: calc(100%);
  margin: 0px;
  padding-bottom: 30px;
}
.parts-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title-footer {
  margin-top: 140px;
  font-size: 26px;

}
.part-img{
  width: 100px;
  height: 100px;
display: none;
}
.part-frage {
  width: 390px;
  height: 60px;
  background-color: #ffffff;
  margin: 10px 35px 15px 35px;
}
.part-frage p {
  font-size: 16px;
  margin-top: 4px;
  margin-left: 155px;
  text-align: right;
}
.footer-part1 {
  width: 390px;
}
#last-p {
  margin-left: 10px;
}
.footer-part1 summary {
  font-size: 14px;
  padding-top: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #282828;
}
.soal-footer{
  font-size: 16px;
  margin-top: 4px;
}
.footer-part1 summary h2 {
  margin-left: 155px;
}
.text-footer {
  padding-top: 10px;
  padding-left: 25px;
  margin-right: 40px;
  margin-bottom: 5px;
  font-size: 10px;
  line-height: 30px;
  text-align: justify;
}
.barname{
  display: none;
}